# SEMANA 03
Adrian Eduardo Granados Esteban

Temas: 
    1. Numeros 
    2. Variables 
    3. Manejo de cadenas 
    4. Ingreso de datos por el teclado 
    5. Operadores

2. Variable

In [3]:
# siempre debe iniciar con una letra o un guion abajo

In [4]:
edad=20
edad

20

In [6]:
nombre= "Adrian"
nombre

'Adrian'

In [7]:
apellido = "Granados Esteban"
apellido

'Granados Esteban'

In [8]:
nombreapellido = nombre + " " + apellido
nombreapellido

'Adrian Granados Esteban'

In [9]:
#para saber el tipo de variable usamos type()

In [10]:
numero = 100
type (numero)

int

In [11]:
#para convertir numero a cadena usamos str()

In [12]:
numero = 100
cadena = str (numero)
cadena

'100'

In [13]:
#para convertir cadena a entero usamos int()

In [14]:
cadena2 = "100"
numero2 = int (cadena2)
numero2

100

In [15]:
type(numero2)

int

In [16]:
#convertir cadena a decimal usamos float()

In [17]:
cadena3 = 100
decimal = float(cadena)
decimal

100.0

In [18]:
type (decimal)

float