# SEMANA 03
Adrian Eduardo Granados Esteban

Temas: 1. Numeros 2. Variables 3. Manejo de cadenas 4. Ingreso de datos por el teclado 5. Operadores

5. Operadores

In [1]:
numero1 = 64
numero2 = 4
suma = numero1 + numero2
resta= numero1 - numero2
multiplicacion= numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print (suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print ( potencia)

68
60
256
16.0
0
16
16777216

In [3]:
#Operadores de asignacion
numero = 4
numero = numero + 5
print(numero)

9

In [4]:
numero = 4
numero +=  5
print(numero)

9

In [5]:
numero = 5
numero = numero ** 2
print (numero)

25

In [6]:
numero =5 
numero **= 2
print(numero)

25

In [8]:
#operadores de comparacion
numero1= 23
numero2 = 40
numero1 == numero2

False

In [10]:
#para las cadenas funciona igual
cadena1= "juan"
cadena2 = "juan"
cadena1 == cadena2

True

In [13]:
#operadores logicos 
numero1 = 1 
numero2 = 2
numero3 =  3 
numero4 = 4
numero1 > numero4

False

In [14]:
not(numero1 > numero4)

True

In [15]:
numero1 > numero4 and numero2 > numero3

False

In [16]:
(numero1 > numero4 and numero2 > numero3) or (numero4 > numero1)

True

In [20]:
#operadores de pertenecia
aula = ["Juan", "Diego", "Pablo"]
alumno1 = "Raul"
alumno2 = "Pablo"

In [18]:
alumno1 in aula

False

In [21]:
alumno2 in aula

True

In [22]:
alumno2 not in aula

False

In [23]:
aula1 = ["Juan", "Diego", "Pablo"]
aula2 = ["Juan", "Diego", "Pablo"]